<h1>
    Person Found
</h1>
<h2>
    {{personName}}
</h2>
<dl>
    <dt>ID</dt>
    <dd> {{ personDetails.id }} </dd>
    <dt>First Name</dt>
    <dd>{{ personDetails.firstName }}</dd>
    <dt>Last Name</dt>
    <dd>{{ personDetails.lastName }}</dd>
    <dt>Address</dt>
    <dd>{{ personDetails.address }}</dd>
    <dt>Zip Code</dt>
    <dd>{{ personDetails.zip }}</dd>
    <dt>Phone</dt>
    <dd>{{ personDetails.phone }}</dd>
    <dt>Social Security Number</dt>
    <dd>{{ personDetails.ssn }}</dd>
</dl>

<a href="/" class="author-link">Make another search</a>