<h1>
    Details
</h1>
<ul>
    <li>
        Username: {{userInfo.username}}
    </li>
    <li>
        First Name: {{userInfo.firstname}}
    </li>
    <li>
        Last Name: {{userInfo.lastname}}
    </li>
    <li>
        Profession: {{userInfo.profession}}
    </li>
    <li>
        Bio: {{userInfo.bio}}    
    </li>
</ul>

<a href="/logout">Click here to logout</a>
